:root{
    --custom-color-nav:#be123c;
    --custom-color-profile:#312e81;
}
ul > li > .button {
    font-size:0.7rem;
    padding:0.5rem 1.5rem 0.5rem 1.5rem; 
    border-radius: 20px;
    border: none;
    color:white;
    box-shadow: 1px 1px 1px 1px rgba(59, 39, 39, 0.289);
    background-color: var(--custom-color-nav);
}
ul > li > .button:hover{
    background-color: #c41a45b8;
    
}
ul > li > .button:active{
    background-color: #790b27d5;
}
h5{
    font-size:12px;
    font-weight: bold;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding:0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
a > p {
    font-weight: bold;
}
a> .image-source{
    font-size: 0.2rem;
}
a:any-link{
    color:white;
    text-decoration-line: none;
}
a>.icon {
    height:16px;
    width:16px;
    margin-right:1.5rem;
    margin-left:0.5rem;
}
a>.logo{
    background-image: url("../assets/icons/view-dashboard-variant.svg");
    height:2rem;
    width:2rem;
    margin-right:1rem;
}
a>.home{
    background-image:url("../assets/icons/home.svg");
}
a>.profile{
    background-image: url("../assets/icons/card-account-details.svg");
}
a>.message{
    background-image: url("../assets/icons/message.svg");
}
a>.history{
    background-image: url("../assets/icons/history.svg");
}
a>.tasks{
    background-image: url("../assets/icons/note.svg");
}
a>.communities{
    background-image: url("../assets/icons/account-group.svg");
}
a>.settings{
    background-image: url("../assets/icons/cogs.svg");
}
a>.support{
    background-image: url("../assets/icons/help-box.svg");
}
a>.privacy{
    background-image:url("../assets/icons/shield-check.svg");
}
a >.star-plus {
    background-image:url("../assets/icons/star-plus-outline.svg");
}
a >.eye-plus {
    background-image:url("../assets/icons/eye-plus-outline.svg");
}
a >.share {
    background-image: url("../assets/icons/share-variant-outline.svg");
}
a > .cat-one {
    background-size: cover;
    border-radius: 50%;
    background-image: url("../assets/profile/cat-1.jpg"); 
}
a > .cat-two {
    background-image: url("../assets/profile/cat-2.jpg"); 
}
a > .cat-three {
    background-image: url("../assets/profile/cat-3.jpg"); 
}
a > .user-picture {
    background-image:url("../assets/profile/vecteezy_cat-brown-design_18746482.png");
}
a > .cat-one,
a > .cat-two,
a > .cat-three,
a > .user-picture{
    background-size:contain;
    border-radius: 50%;
    background-color: var(--custom-color-profile);
}
ul >li,
form > li {
    list-style-type: none;
}
.container{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "nav header"
        "nav main";
}
.container>header{
    grid-area: header;
}
.container>nav{
    grid-area:nav;
    background-color: var(--custom-color-nav);
}
.container >main{
    grid-area:main;
}
nav > ul{
    padding:0.8rem;
}
nav > ul >li >a{
    display:flex;
    color:white;
    align-items: center;
}
li > a{
    margin-bottom:0.5rem;
 
}
nav > ul>li:nth-child(1),
nav > ul>li:nth-child(7){
    margin-bottom:2rem;
}
header {
    box-shadow: 6px 0 6px 1px rgb(0,0,0,0.5);
}
ul > form,
header > ul:nth-child(2) > li:nth-child(2) {
    margin-right:auto;
    margin-left:30px;
}
header > ul:nth-child(1) > li:nth-child(2){
    margin-right:-15px;
}
ul > form,
header > ul > li {
    align-self: center;
    margin-top:20px;
    margin-left: 5px;

}
header > ul {
    margin-bottom:20px;
    flex:1;
}
header > ul > form > li > button{
    border:none;
    height:1rem;
    width:1rem;
    margin-right:0.5rem;
    margin-left:1rem;
    background-color: white;
    background-image: url("../assets/icons/magnify.svg");
    background-repeat: no-repeat;
}
header > ul:nth-child(2) > li:nth-child(1){
    margin-left:40px;
}
li > .username-mini,
li > .button{
    margin-right:20px;
}
li > .username-big{
    font-size: 18px;
}
li > .welcome-message{
    font-size:8px;
}
#search {
    border:none;
    padding-left:10px;
    height:1.5rem;
    width:35rem;
    border-radius: 10px;
    background-color: rgba(86, 86, 86, 0.388);
}
#search:hover,
#search:focus{
    background-color: rgba(86, 86, 86, 0.567);
}
#search-button{
    cursor: pointer;
    border-radius: 50%;
}
#search-button:hover{
    background-color: rgba(0, 0, 0, 0.249);
}
.profile-picture-container{
    background-color: var(--custom-color-profile);
    border-radius: 100%;
    margin-right:20px;
    height:50px;
    width:50px;
}
.profile-picture{
    height:40px;
    width:40px;
}

.small{
    transform:scale(0.75);
}
.big {
    transform:scale(1.5);
}
ul > form,
header > ul{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}
main{
    border: none; 
    background-color: rgba(148, 148, 148, 0.462);
    display:flex;
}
main > article,
main > section {
    margin:25px;
}
main> article > ul{
    display:grid;
    grid-template-columns: repeat(2,minmax(300px,1fr));
    grid-template-rows: repeat(3, minmax(200px,1fr));
    gap:27px 27px;
}
main > section > ul{
    display:grid;
    grid-template-columns: 200px;
    grid-template-rows: 300px;
}
article > ul > li,
section > ul > li {
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    padding:25px 25px 25px 25px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.279);
}
article > ul > li > div {
    align-self: flex-end;
    display: inline-flex;
    margin-left:auto;
    margin-bottom:10px;
    
}
li > p {
    font-size:12px;
    text-align: left;
}
li > h5,
section > h3,
div > h5 {
    font-size: 12px;
    font-weight: bold;
}
li > h3 {
    font-size: 16px;
    font-weight: bold;
}
section > ul > li > p{
    font-size:10px;
}
section>h3,
article>h3{
    margin-top:20px;
    margin-bottom:10px;
}
section > ul:nth-of-type(2) > li{
    font-size:12px;
}

